<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>Roseworks - Design Embroidery Kits</title>

        <link rel="stylesheet" type="text/css" media="all" href="@{'/public/stylesheets/style.css'}" />
        <link rel="stylesheet" type="text/css" media="all" href="@{'/public/stylesheets/jquery.selectBox.css'}" />
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/screen.css'}" media="all" />

        <link rel="shortcut icon" type="image/x-icon" href="@{'/public/images/favicon.ico'}" />

    </head>
    <body>
        <div class="header-wrapper">
            <div id="header" class="clearfix">
                <a href="@{Application.index()}" class="logo"><img src="@{'/public/images/roseworksLogo.png'}" alt="Roseworks Logo" /></a>
                <strong class="slogan">ADMIN</strong>
            </div>
        </div>

        <div class="navigation-wrapper">

            <ul id="navigation" class="clearfix">
                <li><a href="@{Orders.pendingOrders()}">Pending Orders</a></li>
                <li><a href="@{Orders.orderHistory()}">Orders History</a></li>
                <li><a href="@{Orders.communicate()}">Communicate</a></li>
                <li><a href="@{Orders.specials()}">Specials</a></li>
            </ul>

        </div>

        #{doLayout/}

        <div class="copyright-wrapper">

            <div id="copyrights" class="clearfix">
                <p class="left">copyright of <a href="#">Roseworks</a> <span>2013</span> All Rights Reserved</p>
                <p class="right">Designed by <a href="http://www.rudden.co.za">Koman Rudden</a></p>
            </div>

        </div>

        <script type="text/javascript" src="@{'/public/js/jquery-1.6.2.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.easing.1.3.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.selectBox.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.cycle.all.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/tabs-accordian.js'}"></script>
        <script type="text/JavaScript" src="@{'/public/js/cloud-zoom.1.0.2.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.animate-colors-min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.form.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.validate.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/script.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.easing.1.3.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.localscroll-1.2.7-min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.scrollTo-min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jcarousellite_1.0.1.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/jquery.cycle.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/execute-scripts.js'}"></script>
    </body>
</html>