#{extends 'main.html' /}

<div class="container">

    <div class="inner-container clearfix">

        <div id="about-us">

            <br/><br/>
            <h3><span>A Brief History</span></h3>
            <div class="about-us">
                <p>
                    A brief excursion into creativity as a pupil of celebrated South African artist George Boys just before her marriage was enough to whet the appetite
                    of Colleen Goy's innovative talents. However, she had to wait nearly 20 years before finding a medium in which she could comfortably express herself.
                </p>
                <br/>
                <p>
                    Relocating to Durban from Johannesburg in 1989 with her husband and two daughters finally gave Colleen the time and space to explore the world of crafts.
                    Initially a member of a quilter's guild, quilting led to candlewicking, to appliqué and then on to embroidery.
                </p>
                <br/>
                <p>
                    It was in this art that she finally felt best able to convey her love of colour. The richness of embroidery threads and her style of design were ideal
                    companions and soon she found her work (all of her own design) featured in South African women's interest magazines.
                </p>
                <br/>
                <p>
                    Home work groups, demonstrations with specialist embroidery shops, and further magazine features have enabled Colleen to share her love of
                    embroidered art. Most recently has been a feature of her and her work in South Africa's specialist crafts' magazine, 'Threads and Crafts'.
                    Not restricted to South Africa, Roseworks Kits are available in Australia and have appeared in Australian embroidery magazines.
                    They have also been taken by enthusiastic embroiders to the USA, the UK and the Middle East.
                </p>
                <br/>
                <p>
                    What excites Colleen the most is being able to show others the scope the medium offers, enjoying the camaraderie that the craft is able to
                    generate when fellow embroiders realise just how exciting freestyle embroidery can be.
                </p>
                <br/>
                <p>
                    Over the years, requests for patterns led Colleen to start producing her work in kit form and as the number of projects grew so have the kits -
                    now numbering more than 100. As each piece of embroidery is completed so the range grows.
                </p>
                <br/>
                <p>
                    Initially, the kits contained everything that was required for the project; fabric with the design printed on, backing fabric, needles,
                    photograph, pattern, threads and detailed stitch notes. However, to allow the embroiderer the choice to use their own colours a much larger
                    range of design kits, containing printed fabric, picture and detailed stitch notes, has been produced covering a wide variety of subjects and
                    suitable for framing, for cushions, for momentos and much more.
                </p>
            </div>
        </div>

    </div>
    <br/><br/>

</div>