#{extends 'main.html'/}

<div class="container">

    <br/>
    <!-- START of INNER-CONTAINER -->
    <div class="inner-container clearfix">

        <!-- START TABS EXAMPLE -->
        <div class="product-tabs">
                <ul class="tabs">
                    <li><a>DESCRIPTION</a></li>
                    <li><a>NOTES</a></li>
                </ul>
                <div class="panes">
                    <div class="tab-pane">
                        <p>${product.productDescription}</p>
                    </div>
                    <div class="tab-pane">
                        <p>These include fabric with the design printed upon it, a photograph, full instructions, 
                            stitch notes and a DMC to Anchor and Madeira colour conversion chart. NO THREADS OR NEEDLES INCLUDED.
                            The sizes given are those of the actual embroidered area and not the fabric size, which is larger.</p>
                    </div>
                </div>
            </div>
            <!-- END TABS EXAMPLE -->        
    </div>
    <!-- END of INNER-CONTAINER -->


</div><!-- end of .container -->
