#{extends 'main.html'/}

<div class="container">

    <br/>
    <!-- START of INNER-CONTAINER -->
    <div class="inner-container clearfix">
            
        <!-- START TABS EXAMPLE -->
        <div class="product-tabs">
            <ul class="tabs">
                <li><a>About Us</a></li>
                <li><a>Privay Policy</a></li>
                <li><a>Terms & Conditions</a></li>
                <li><a>Customer Services</a></li>
                <li><a>Delivery / Refunds & Returns</a></li>
                <li><a>Technical</a></li>
            </ul>
            <div class="panes">
                <div class="tab-pane">
                    <br><br>
                    <p>Roseworks Embroider Design Kits contain the design printed on a piece of fabric, detailed stitch notes and a colour picture of the completed design.<br><br>

                        Roseworks Embroidery Designs are of South African origin.<br><br>
                    
                        Roseworks Embroidery Designs<br>
                        PostNet Suite 839 Private Bag X153 Bryanston 2021 RSA<br>
                        20 De Noord Crescent, Bloubosrand, Randburg 2188, Gauteng RSA<br>
                        Tel: +27 (0)11 462 4874 - +27 (0)82 493 4021<br>

                        Alternative contact details - roseworks@global.co.za – Fax: +27(0)86 689 8277
                    </p>
                </div>
                <div class="tab-pane">
                        <br><br>
                    <p>The Customer’s name and delivery details are stored together with the item(s) ordered. Tracking information is retained if despatched by Registered Mail, Insured Parcel Post and Courier. No Card information is retained. Customer information is not shared with any third-party.</p>
                </div>
                <div class="tab-pane">
                        <br><br>
                        <p>T's & C's to go here</p>
                    </div>                
                <div class="tab-pane">
                    <br><br>
                    <p>South Afrcia +27 (0)82 493 4021</p>
                </div>
                <div class="tab-pane">
                    <br><br>
                    <p>
                        Delivery:<br>

                            The method of Delivery is at the customer’s discretion. South African Postal Service: Normal Mail – Registered Mail (Local & International) - Insured Parcel Post (Local and International) – EMS Couriers (the courier service of the International Postal Union).<br>

                        Returns & Refunds:<br>

                            Customers may return a design for a full refund if not happy with their purchase.
                    </p>
                </div>
                <div class="tab-pane">
                    <br><br>
                    <p>Website administrator (Koman Rudden - komanrudden@gmail.com)</p>
                </div>                
            </div>
        <!-- END TABS EXAMPLE -->              

        </div>
    <!-- END of INNER-CONTAINER -->
    </div>

</div><!-- end of .container -->
